/*头部开始*/
header {
	border: 1px solid #E4E7EA;
}

.tencent_logo {
	margin-left: 100px;
	float: left;
	height: 40px;
	width: 232px;
	background: url(../images/head-bg.png) 0px -37px no-repeat;
}

.game_start {
	float: left;
	height: 40px;
	width: 230px;
	background: url(../images/game_start.jpg);
}

.grow_protect {
	padding-left: 20px;
	background: url("../images/logo_point.png") left center no-repeat;
	font-size: 14px;
	width: 110px;
	height: 40px;
	float: right;
	line-height: 40px;
}
.grow_protect:hover{
	color: red;
	cursor: pointer;
}
.game_rank {
	line-height: 40px;
	font-size: 14px;
	width: 110px;
	height: 40px;
	float: right;
}
.game_rank:hover{
	color: red;
	cursor: pointer;
}
/*导航栏开始*/
nav {
	line-height: 96px;
}

nav .logo {
	margin-left: 60px;
	float: left;
}

nav ul {
	float: left;
	margin-left: 32px;
}

nav ul li {
	color: #5f3e4f;
	height: 96px;
	float: left;
	font-size: 16px;
	margin: 0 8px;
	cursor: pointer;
}

nav ul li:hover a{
	color: #f77f0b
}

/*footer开始*/






/* 底部footer开始 */
.gl_footer {
	background: #B77986;
	height: 86px;
}
.gl_footer .glf_w {
	text-align: center;
	height: 72px;
	padding-top: 14px;
}
.gl_footer ul {
	/* background: #000; */
	
}
.gl_footer ul li {
	float: left;
	position: relative;
	
}
.gl_footer ul li:nth-child(1) {
	margin-left: 191px;
}
.gl_footer ul li a {
	padding: 0 5px;
	color : #fff;
	
}
.gl_line3::after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #fff;
	position: absolute;
	top :3px;
	right: -1px;
}
.gl_footer .glf_w p:nth-child(2) {
	margin-top : 4px;
}
.gl_footer p span {
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 10px;
}
.gl_footer .glf_w p:nth-child(3) {
	margin-top : 4px;
}
.gl_footer p a {
	color: #fff;
	font-size: 10px;
	margin: 0;
	padding: 0;
}
/* 底部footer开始 */
.gl_footer {
  background: #B77986;
  height: 86px;
  margin-top: 95px;
 
}
.gl_footer .glf_w {
  text-align: center;
  height: 72px;
  padding-top: 14px;
}
.gl_footer ul {
  /* background: #000; */
 
}
.gl_footer ul li {
  float: left;
  position: relative;

}
.gl_footer ul li:nth-child(1) {
  margin-left: 191px;
}
.gl_footer ul li a {
  padding: 0 5px;
  color : #fff;
 
}
.gl_line3::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #fff;
  position: absolute;
  top :3px;
  right: -1px;
}
.gl_footer .glf_w p:nth-child(2) {
  margin-top : 4px;
}
.gl_footer p span {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 10px;
}
.gl_footer .glf_w p:nth-child(3) {
  margin-top : 4px;
}
.gl_footer p a {
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

/* 底部footer结束 */
 body {
  height: 2500px;
  /* overflow: hidden; */
}  