
.falling-leaves {
  position: absolute;
  top: 55px;
  width: 100%;
  height: 400px;
  z-index: 999;
  overflow: hidden;
}

.leaf-scene {
  position: absolute;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.leaf-scene div {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 10px;
  background: url(../images/img_lz/th.png) no-repeat;
  background-size: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}
