/*公共类开始*/
a, b, body, dd, del, div, dl, dt, em, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var, input {
    margin: 0;
    padding: 0;
}
*{
  margin:0;
  padding:0;
  list-style:none;
}
li {
    list-style: none;
}
img,button,input {
    border: 0;
}
em, i, u {
    font-style: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
a{
    text-decoration: none;
    color:#000;
}

/*公共类结束*/
.container{
    width: 1200px;
    margin:0 auto;
}

/*相框效果开始*/
/*html {
    background: url("images/hd_bar.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 100%;
}*/
/*body {
    max-width: 40em;
    margin: 0 auto;
}*/
img {
    max-width: 100%;
}
.polaroid {
    z-index: 300;
    position: absolute;
    top: 200px;
    left: 60%;
    width: 50%;
    padding-bottom: 25%;
    max-width: 60em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-style: solid;
    border-color: #fff;
    border-width: 1em 1em 4.5em;
    box-shadow: 0 0 1em rgba(153,153,153,0.4), 0 0 4em rgba(0,0,0,0.7), 0 0 30em rgba(0,0,0,0.5), 0 0 40em #000;
    -webkit-animation: swing 3.5s ease-in-out forwards infinite;
    animation: swing 3.5s ease-in-out forwards infinite;
    -webkit-transform-origin: 50% -10em;
    transform-origin: 50% -20em;
}

.polaroid::before {
    -webkit-transform: skew(3deg);
    transform: skew(3deg);
    left: 0.5em;
}
.polaroid::after {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
    right: 0.5em;
}
@-webkit-keyframes swing {
    0% {
        -webkit-transform: translateX(-50%) rotate(10deg);
        transform: translateX(-50%) rotate(10deg);
    }
    50% {
        -webkit-transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
        transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
    }
    100% {
        -webkit-transform: translateX(-50%) rotate(10deg);
        transform: translateX(-50%) rotate(10deg);
    }
}
@keyframes swing {
    0% {
        -webkit-transform: translateX(-50%) rotate(10deg);
        transform: translateX(-50%) rotate(10deg);
    }
    50% {
        -webkit-transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
        transform: translateX(-50%) rotate(-10deg) skewX(5deg) skewY(-2deg) scale(1.1);
    }
    100% {
        -webkit-transform: translateX(-50%) rotate(10deg);
        transform: translateX(-50%) rotate(10deg);
    }
}



/*相框效果结束*/

.nav.w{
    z-index: 999999999999999 !important;
    background-color: #fff;
}
.hd_bar{
    height: 766px !important;
    background-size: cover;
    background: url("../images/img_lz/hd_bar1.jpg") no-repeat center center;
}

.hd_bar ul {
    width: 300px;
    height: 400px;
    background-color: #ccc;
    position: absolute;
    top:95%;
    left:55%;
    z-index: 1000;
    margin: 110px;
    transition: all 1s;
    transform-origin: bottom;
    transform-style: preserve-3d;
}

.hd_bar li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    border-radius: 10px;
    /*border:1px solid gold;*/
    box-shadow: 0 0 10px  #999;
    transition: all 2s;
}

.hd_bar ul li img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


/*
  思路：
  1. 先让ul沿着X轴转
  2. 让li沿着Y轴转
*/

.hd_bar ul:hover {
    transform: rotateX(45deg);
}


.hd_bar li:nth-child(5) {
    /*transition: all 1s 4s;*/
    transition-delay: 4s;
}

.hd_bar li:nth-child(4) {
    /*transition: all 1s 3s;*/
    transition-delay: 3s;
}

.hd_bar li:nth-child(3) {
    /*transition: all 1s 2s;*/
    transition-delay: 2s;
}

.hd_bar li:nth-child(2) {
    /*transition: all 1s 1s;*/
    transition-delay: 1s;
}


/*需要先转第五张*/
.hd_bar ul:hover li:nth-child(5) {
    transform: rotateY(-170deg);
    transition-delay: 1s;
    /*transition: all 1s 1s;*/
}

.hd_bar ul:hover li:nth-child(4) {
    transform: rotateY(-150deg);
    /*transition: all 1s 2s;*/
    transition-delay: 2s;
}
.hd_bar ul:hover li:nth-child(3) {
    transform: rotateY(-120deg);
    /*transition: all 1s 3s;*/
    transition-delay: 3s;
}

.hd_bar ul:hover li:nth-child(2) {
    transform: rotateY(-70deg);
    /*transition: all 1s 4s;*/
    transition-delay: 4s;
}

/*莲花旋转*/
.xuanzhuang {
    position: absolute;
    width: 158px;
    height: 158px;
    top:150px;
    left:25%;
    z-index: 999;
}
.bg {
    display: block;
    width: 158px;
    height: 158px;
    background: url("../images/img_lz/videoPBtn.png") no-repeat;
    position: absolute;
    animation: rotation 8s infinite linear;

}
/*设置莲花持续旋转*/
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.section {
    margin-top: 150px;
    padding-left:40px ;
    height: 1300px;
    box-sizing: border-box;
}
.sec_title{
    margin-top: 100px;
    width: 230px;
    height: 60px;
    background: url("../images/img_lz/title.png") no-repeat 0 -188px ;
}
.tag_title{
    font-size: 20px;
    margin: 20px 10px;
}
.tag_title >a{
    color:#000;
    text-decoration:none;
}
.tag_title > .content_title{
    color:#e57e80;
}

.btn-ico{
    width: 1050px;
  margin-top: 100px;
  padding-left:10px;
  box-sizing: border-box;
}
.btn-ico li{
    width: 15%;
    line-height: 158px;
    float: left;
    text-align: left;
}
.btn-ico li img{
    width: 124px;
    height: 132px;
    vertical-align: bottom;
}
.btn-ico li.now img{
    width: 148px;
    height: 158px;
}

.section .line,
.section .end_line
{
    width: 1050px;
    height: 1px;
    background-color: #ccc;
}
.section .line{
    margin-top: 80px;
}

.section .end_line{
    margin-top: 5px;
}
.section .info{
    width: 1100px;
    height: 2100px;
    margin-top: 40px;
    overflow: hidden;
}
.section .info ul{
    width: 1100px;
    height: 2100px;
    overflow: hidden;
}
.section .info ul.now{
    display: block;
}
.section .info ul li{
    width:  247px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    float: left;
    box-shadow: 0 0 10px 1px lightcoral;
    border-radius: 10px;
}


.section .info ul li a{
    width: 247px;
    display: inline-block;
    text-decoration: none;
    color:#000;
}

.section .info ul li p {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #ccc;
    font-size: 12px;
    border-radius: 15px;
    text-align: center;
    margin : 20px auto;
}
.section .info ul li img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    border: 0;
}

/*footer开始*/
/* 底部footer开始 */
.gl_footer {
    margin-top: 1650px;
    background: #B77986;
    height: 86px;

}
.gl_footer .glf_w {
    text-align: center;
    height: 72px;
    padding-top: 14px;
}
.gl_footer ul {
    /* background: #000; */

}
.gl_footer ul li {
    float: left;
    position: relative;

}
.gl_footer ul li:nth-child(1) {
    margin-left: 191px;
}
.gl_footer ul li a {
    padding: 0 5px;
    color : #fff;

}
.gl_line3::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #fff;
    position: absolute;
    top :3px;
    right: -1px;
}
.gl_footer .glf_w p:nth-child(2) {
    margin-top : 4px;
}
.gl_footer p span {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 10px;
}
.gl_footer .glf_w p:nth-child(3) {
    margin-top : 4px;
}
.gl_footer p a {
    color: #fff;
    font-size: 10px;
    margin: 0;
    padding: 0;
}



